name: Deploy Database Infra

on:
  push:
    branches: ["main"]
    # Se ejecuta si cambias el compose o este mismo workflow
    paths:
      - "docker-compose.yml"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:

jobs:
  deploy-infra:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Copiar el archivo al servidor (Raspberry)
      - name: Copy docker-compose to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "docker-compose.yml"
          target: "/home/${{ secrets.SSH_USER }}/anami-infra"

      # 2. Conectar por SSH para generar el .env y levantar Docker
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Entrar a la carpeta
            cd /home/${{ secrets.SSH_USER }}/anami-infra

            # Generar el archivo .env "al vuelo"
            # SOLO incluimos las 3 variables que tu compose necesita ahora

            echo "Generando configuración..."
            echo "POSTGRES_ROOT_USER=${{ secrets.POSTGRES_ROOT_USER }}" > .env
            echo "POSTGRES_ROOT_PASSWORD=${{ secrets.POSTGRES_ROOT_PASSWORD }}" >> .env
            echo "POSTGRES_DB_PORT=${{ secrets.POSTGRES_DB_PORT }}" >> .env

            # Levantar el servicio
            # --remove-orphans es importante para borrar cosas viejas si cambiaste nombres
            docker compose down --remove-orphans || true
            docker compose up -d

            echo "✅ Despliegue de Base de Datos completado."
